# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Downloaded datasets
data/

# macOS
.DS_Store

# Virtual environments
venv/
.venv/

# Environment variables
.env
